* {
  font-family: 'Roboto', sans-serif;
}

.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

input[type='text'],
input[type='date'],
input[type='time'],
input[type='number'],
input[type='password'],
textarea {
  width: 300px;
  height: 30px;
  padding: 3px 20px;
  border: 1px solid #dfe1e5;
  border-radius: 0.4rem;
  margin: 10px 0;
  outline: none;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  font-size: 16px;
}

input[type='text']:focus,
input[type='date']:focus,
input[type='time']:focus,
input[type='number']:focus,
input[type='password']:focus,
textarea:focus {
  border: 1px solid #4d90fe;
  box-shadow: 0 0 8px rgba(77, 144, 254, 0.2);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
textarea {
  border: 2px solid #ccc;
  resize: none;
}

form label {
  display: block;
}
.form-label {
  display: block;
}

button {
  border: black 1px solid;
  padding: 5px;
  border-radius: 2px;
  background-color: white;
  color: black;
}

button:hover {
  background-color: #f1f1f1;
}

#map {
  float: right;
  border: 10px solid white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  margin-right: 3rem;
}

link {
  text-decoration: none;
}

/* ----------------------------------------------------- */
/* Welcome page */
/* ----------------------------------------------------- */
/* heading container */
.header {
  align-items: center;
}
.welcome-heading {
  font-size: 4rem;
  align-items: center;
  margin-bottom: 0.5rem;
  margin-top: 0;
  border-radius: 10px;
  box-shadow: 0px 0px 30px 3px #ffff00; /* Yellow shadow */
}

/* subtitle */
.welcome-text {
  font-size: 1.5rem;
  margin-bottom: 6rem;
}
/* I am text */
.I-am-text {
  font-size: 2rem;
  margin-bottom: 4rem;
}
/* employee+manager btn SIMILARITIES */
.login-button {
  padding: 3.5rem;
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
  border-radius: 1rem;
  color: white;
  border: 0.125rem solid black;
}
/* manager btn */
.manager {
  background-color: #6ba0d6;
  margin-right: 5rem;
}
.manager:hover {
  background-color: #80b7ef;
  box-shadow: 0 0 30px 15px #ffff99cc;
}
/* employee btn */
.employee {
  background-color: #6ab76a;
  margin-left: 5rem;
}
.employee:hover {
  background-color: #76ce76;
  box-shadow: 0 0 30px 15px #ffff99cc;
}

/* ----------------------------------------------------- */
/* Navbar */
/* ----------------------------------------------------- */
.nav-container {
  margin-bottom: 2rem;
}

.manager-bg-color {
  display: flex;
  justify-content: space-between; /* Distribute space evenly between the logo/h1 and icons */
  align-items: center; /* Align items vertically */
  background-color: #6ba0d6;
  border: solid 1px #ffff99cc;
  padding: 10px 20px;
  box-shadow: 0 0 30px 15px #ffff99cc;
}
.employee-bg-color {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #6ab76a;
  border: solid 1px #ffff99cc;
  padding: 10px 20px;
  box-shadow: 0 0 30px 15px #ffff99cc;
}
.h1-nav-link {
  background-color: white;
  border-radius: 1.5rem;
  padding: 0rem 3rem;
  color: black;
  text-decoration: none;
}

.logo-container {
  display: flex;
  align-items: center;
}
.crane-logo {
  width: 100px;
  height: auto;
  object-fit: contain;
  padding: 10px;
  margin-right: 1.5rem;
  position: relative; /* Set position to relative */
  z-index: 1; /* Set z-index to bring the crane logo to the front */
  top: -5px;
}
.bricks-logo {
  width: 120px;
  height: auto;
  position: absolute; /* Set position to absolute */
  top: 120px; /* Adjust as needed */
  left: 30px; /* Adjust as needed */
  z-index: 2; /* Set z-index higher than crane logo to bring bricks logo in front */
  clip-path: polygon(0 10%, 100% 10%, 100% 35%, 0 35%);
}

.nav-icon {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  object-fit: contain;
  padding: 10px;
  margin-left: 2rem;
}
.nav-icon:hover {
  background-color: #fefea6;
  cursor: pointer;
  transition: 0.7s;
}

/* ----------------------------------------------------- */
/* Schedule */
/* ----------------------------------------------------- */
.layout-schedule {
  display: flex;
  justify-content: space-between;
}

.left-content {
  flex: 1;
  margin-right: 2rem;
  margin-left: 2rem;
}

.map {
  flex: 1;
}

/* ----------------------------------------------------- */
/* Job List */
/* ----------------------------------------------------- */
.layout-jobList {
  display: flex;
  justify-content: space-between;
}

.left-content {
  flex: 1;
  margin-right: 2rem;
  margin-left: 2rem;
}

.map {
  flex: 1;
}

/* ----------------------------------------------------- */
/* Job card manager*/
/* ----------------------------------------------------- */
.job-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  padding: 0.7rem 1.5rem;
  margin-bottom: 1rem;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.job-card .title {
  font-weight: bold;
  grid-column: 1;
  grid-row: 1;
}

.job-card .time {
  grid-column: 2;
  grid-row: 1;
}

.location {
  color: #007aff;
  text-decoration: underline;
  grid-column: 1 / span 2;
  grid-row: 2;
}

.job-card .edit,
.job-card .assign {
  grid-column: 4;
  justify-self: end;
  width: 100px; /* Adjust this value to suit your needs */
  height: auto;
  box-sizing: border-box;
}

.job-card .edit {
  grid-row: 1;
}
.edit-job-btn {
  padding-right: 20px;
}

.job-card .assign {
  grid-row: 2;
}

.job-card .date {
  grid-column: 3;
  grid-row: 1 / span 2;
}
/* ----------------------------------------------------- */
/* Job card employee*/
/* ----------------------------------------------------- */
.job-card-employee {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  padding: 0.7rem 1.5rem;
  margin-bottom: 1rem;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.title-employee {
  font-weight: bold;
  grid-column: 1;
  grid-row: 1;
}

.date-employee {
  grid-column: 3;
  grid-row: 1 / span 2;
}

.time-employee {
  grid-column: 2;
  grid-row: 1;
}

.location-employee {
  color: #007aff;
  text-decoration: underline;
  grid-column: 1 / span 2;
  grid-row: 2;
}

.submit-job-employee {
  grid-column: 4;
  grid-row: 1 / span 2;
  margin-left: 6rem;
}

/* Completed jobs */

li.complete-card {
  border: 1px solid black;
}

.title {
  font-weight: bold;
  grid-column: 1;
  grid-row: 1;
}
